<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="index.html">Lokesh Chauhan</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="experience.html">Experience</a></li>
      <li class="nav-item"><a class="nav-link" href="projects.html">Projects</a></li>
      <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
    </ul>
  </div>
</nav>
